
body {margin:0;}

.nav_ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav_li {
  float: left;
}

.nav_li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav_li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #00c1cf;
}
.main {
  max-width: 2000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 2px;
}


.row,
.row > .column {
  padding: 8px;
}


.column {
  float: left;
  width: 32%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.content {
  background-color: #00c1cf;
  padding: 10px;
}


@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
  padding: 15px;
  background: rgb(58, 58, 58);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
  color: yellow;
}

li{
  color: white;
}
td{
  color: white;
}
th{
  color: white;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  
}

table th, table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

footer {
  text-align: center;
  padding: 10px;
  background: #333;
  color: white;
  margin-top: 20px;
}
